.chronicleButton {
  --chronicle-button-border-radius: 0.76rem;
  --chronicle-button-background: var(--secondary-orange);
  --chronicle-button-hover-background: var(--primary-orange);
  --chronicle-button-text-color: var(--theme-white);
  --chronicle-button-hover-text-color: var(--theme-black);
  --transition-duration: 0.5s;

  border-radius: var(--chronicle-button-border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  line-height: 1;
  padding: 1rem 1.232rem;
  cursor: pointer;
  border: none;
  font-weight: 700;
  background: var(--chronicle-button-background);
  color: var(--chronicle-button-text-color);
  transition: background var(--transition-duration) ease, color var(--transition-duration) ease;
  will-change: background, color;
}

.chronicleButton:hover, .chronicleButton.active {
  background: var(--chronicle-button-hover-background);
  color: var(--chronicle-button-hover-text-color);
}

.chronicleButton span {
  position: relative;
  display: block;
}

.chronicleButton span:nth-of-type(2) {
  position: absolute;
}

.chronicleButton em {
  font-style: normal;
  display: inline-block;
  font-size: 1.025rem;
  will-change: transform, opacity, transition;
  transition: transform .55s cubic-bezier(.645,.045,.355,1), opacity .35s linear .2s;
}

.chronicleButton span:nth-of-type(1) em {
  transform-origin: top;
}

.chronicleButton span:nth-of-type(2) em {
  opacity: 0;
  transform: rotateX(-90deg) scaleX(.9) translate3d(0,10px,0);
  transform-origin: bottom;
}

.chronicleButton:hover span:nth-of-type(1) em,
.chronicleButton.active span:nth-of-type(1) em {
  opacity: 0;
  transform: rotateX(90deg) scaleX(.9) translate3d(0,-10px,0);
}

.chronicleButton:hover span:nth-of-type(2) em,
.chronicleButton.active span:nth-of-type(2) em {
  opacity: 1;
  transform: rotateX(0deg) scaleX(1) translateZ(0);
  transition: transform .75s cubic-bezier(.645,.045,.355,1), opacity .35s linear .3s;
}

.chronicleButton.outlined {
  background: transparent;
  border: 2px solid var(--chronicle-button-background);
  padding: calc(1rem - var(--outline-padding-adjustment)) 0;
  transition: border var(--transition-duration) ease, color var(--transition-duration) ease, background-color var(--transition-duration) ease;
  will-change: border, color;
}

.chronicleButton.outlined em {
  color: var(--text-color);
  transition: color var(--transition-duration) ease;
}

.chronicleButton.outlined:hover,
.chronicleButton.outlined.active {
  background: var(--chronicle-button-hover-background);
  border-color: var(--chronicle-button-hover-background);
}

.chronicleButton.outlined:hover em,
.chronicleButton.outlined.active em {
  color: var(--chronicle-button-hover-text-color);
}

.chronicleButton.radio {
  width: auto;
  min-width: 0;
  max-width: 100%;

}

.chronicleButton.radio span {
  width: 100%;
}

.chronicleButton.radio em {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}
